.wagtail-optimizer-header {
    margin-bottom: 1rem;
}
.wagtail-optimizer-header .w-header {
    margin-bottom: 1rem;
}
.wagtail-optimizer-content {
}
.wagtail-optimizer-content form {
}
.hidden {
    display: none !important;
}
.wagtail-optimizer-loader-wrapper {
    display: flex;
    flex-direction: column;
}
.wagtail-optimizer-loader {
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    background-color: var(--w-color-secondary);
    width: 100%;    
}
.wagtail-optimizer-loader__bar {
    width: 0;
    height: 1rem;
    background-color: var(--w-color-secondary-400);
    transition: width 0.5s;
}
.wagtail-optimizer-loader__text {
    text-align: center;
    margin-top: 0.5rem;
}

.analysis-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}
.analysis-info-box {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: var(--w-color-secondary);
    color: var(--w-color-text-button);
    white-space: nowrap;
    text-wrap: nowrap;
}
.analysis-info-box-number {
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}
.analysis-info-box-text {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--w-color-text-button);
}

.seo-link-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    background-size: cover;
    background-position: center;
}
.icon-seo-edit {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
}
.seo-accordion-wrapper {
    margin-top: 1rem;
}
.seo-accordion {
    border-radius: 5px;
    overflow: hidden;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.seo-accordion-title {
    
}
.seo-accordion-title-text {
    color: var(--w-color-secondary);
}
.seo-accordion-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.seo-accordion-meta-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: white;
    font-weight: 700;
}
.seo-accordion-meta-box:not(:last-child) {
    margin-right: 1rem;
}
a.seo-accordion-meta-edit *,
a.seo-accordion-meta-edit {
    display: flex;
    align-items: center;
    color: var(--w-color-secondary);
    transition: all 0.4s;
    text-decoration: none;
}
a.seo-accordion-meta-edit:hover,
a.seo-accordion-meta-edit:hover * {
    color: var(--w-color-secondary-50) !important;
    text-decoration: underline !important;
}
.seo-accordion-meta-errors {
    background-color: var(--w-color-critical-100);
}
.seo-accordion-meta-warnings {
    background-color: var(--w-color-warning-100);
}
.seo-accordion.active, .seo-accordion:hover {
    background-color: var(--w-color-secondary);
    color: var(--w-color-text-button);
}
.seo-accordion.active *, .seo-accordion:hover * {
    color: var(--w-color-text-button);
}
.seo-panel {
    padding: 0 1em;
    display: none;
    background-color: white;
    overflow: hidden;
}
.seo-panel p,
.seo-panel details {
    margin-bottom: 0.5em;
}
.seo-panel details .seo-summary {
    cursor: pointer;
    margin-bottom: 0.375em;
}
.seo-panel details .seo-summary-meta {
    font-size: 0.725rem;
}
.seo-charts {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 1rem;
}
.seo-chart {
    flex: 1 1 auto;
    max-width: 50%;
    max-height: 300px;
    display: flex;
}