[build-system]
build-backend = "setuptools.build_meta"
requires = [
    "setuptools>=62.3",
]

[project]
name = "aioblackbird24180"
authors = [
    { name = "alexyao2015" },
]
classifiers = [
    "Environment :: Console",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]
dependencies = []
description = "Python module to control Monoprice 24180 Blackbird 8x8 HDMI Matrix."
readme = "README.md"
requires-python = ">=3.11"
version = "0.1.0"

[project.license]
text = "Apache-2.0"

[project.urls]
Homepage = "https://github.com/alexyao2015/aioblackbird24180"
Repository = "https://github.com/alexyao2015/aioblackbird24180"

[project.optional-dependencies]
test = [
    "codespell==2.3.0",
    "mypy==1.11.2",
    "pre-commit==4.0.0",
    "pre-commit-hooks==5.0.0",
    "pylint==3.3.1",
    "pytest==8.3.3",
    "pytest-asyncio==0.24.0",
    "pytest-cov==5.0.0",
    "pytest-xdist==3.6.1",
    "ruff==0.6.9",
    "safety==3.2.8",
    "tomli==2.0.2",
]

[tool.codespell]
ignore-words-list = "dependees,"

[tool.setuptools]
include-package-data = true
platforms = [
    "any",
]
zip-safe = false

[tool.setuptools.package-data]
aioblackbird24180 = [
    "py.typed",
]

[tool.setuptools.packages.find]
include = [
    "aioblackbird24180*",
]

[tool.mypy]
check_untyped_defs = true
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_subclassing_any = true
disallow_untyped_calls = true
disallow_untyped_decorators = true
disallow_untyped_defs = true
follow_imports = "skip"
ignore_missing_imports = true
no_implicit_optional = true
no_implicit_reexport = true
platform = "linux"
python_version = "3.12"
strict_optional = true
warn_incomplete_stub = true
warn_no_return = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
warn_unused_ignores = true

[tool.pylint.BASIC]
good-names = [
    "_",
    "T",
]

[tool.pylint.DESIGN]
max-args = 10
max-attributes = 14

[tool.pylint."MESSAGES CONTROL"]
disable = [
    "duplicate-code",
    "format",
    "unsubscriptable-object",
    "unused-argument",
    "unspecified-encoding",
    "isinstance-second-argument-not-valid-type",
    "fixme",
    "too-few-public-methods",
]

[tool.pylint.SIMILARITIES]
ignore-imports = true

[tool.pylint.FORMAT]
max-line-length = 88

[tool.pylint.VARIABLES]
allowed-redefined-builtins = [
    "input",
]

[tool.pytest.ini_options]
asyncio_default_fixture_loop_scope = "function"
log_cli = true
log_cli_level = "DEBUG"
log_cli_format = "%(asctime)s.%(msecs)03d [%(levelname)-7s] [%(filename)s:%(lineno)3s:%(funcName)31s] %(message)s"
log_cli_date_format = "%Y-%m-%d %H:%M:%S"
log_file_level = "DEBUG"
log_file_format = "%(asctime)s.%(msecs)03d [%(levelname)-7s] [%(filename)s:%(lineno)3s:%(funcName)31s] %(message)s"
log_file_date_format = "%Y-%m-%d %H:%M:%S"
log_file = "pytest.log"
addopts = "--cov --cov-report xml:cov.xml --cov-report html:coverage -n auto -vv"
asyncio_mode = "auto"

[tool.ruff]
fix = true
line-length = 88
show-fixes = true
target-version = "py312"

[tool.ruff.lint]
ignore = [
    "ANN002",
    "ANN003",
    "ANN101",
    "ANN401",
    "D203",
    "D213",
    "D417",
    "EM101",
    "EM102",
    "FIX002",
    "PLR2004",
    "PD011",
    "TCH001",
    "TCH003",
    "S101",
    "TD002",
    "TD003",
    "TD004",
    "COM812",
    "ISC001",
    "A002",
    "A001",
]
select = [
    "ALL",
]

[tool.ruff.lint.pydocstyle]
convention = "pep257"

[tool.ruff.lint.flake8-pytest-style]
fixture-parentheses = false
mark-parentheses = false

[tool.ruff.lint.isort]
combine-as-imports = true
force-sort-within-sections = true
known-first-party = [
    "aioblackbird24180",
]

[tool.ruff.lint.mccabe]
max-complexity = 25

[tool.ruff.lint.pylint]
max-args = 10
max-branches = 25
max-returns = 15
max-statements = 50
