[buildout]
extends =
    sources.cfg
    versions.cfg

extensions =
    mr.developer
    plone.versioncheck

show-picked-versions = true
allow-picked-versions = true

sources-dir = devel

always-checkout = force
auto-checkout =
    email2pdf2
    imio.email.parser

parts =
    scripts
    ploneversioncheck
    omelette
    test

versions = versions

develop = .

eggs =
    imio.email.dms
    imio.email.parser
    ipdb

[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}
#packages =
#    ${buildout:directory}/devel/email2pdf/ ./email2pdf
#    ${buildout:directory}/devel/imio.email.parser/src/imio/email/parser/ ./imio/email/parser

[scripts]
recipe = zc.recipe.egg:scripts
interpreter = runpy
eggs = ${buildout:eggs}

[ploneversioncheck]
recipe = zc.recipe.egg
eggs = plone.versioncheck

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
#extra-paths = ${buildout:directory}/parts/omelette
#include-site-packages = true
eggs =
    ${buildout:eggs}
