# Config file for doti (v0.3.0)
#
# The three general sections are:
# 'settings': all the setting options
# 'home': folders whose files will be symlinked to the home directory
# 'root': folders whose files will be symlinked to the root directory
#
# The order of precedence of the options is (inherited if missing):
# hostname-specific > distro-specific > system-specific > general
#
# hostname-specific sections are denoted as:
# '[HOSTNAME]-[SECTION]'
#
# system-specific sections are denoted as:
# '[SYSTEM]-[SECTION]'
# Available systems: linux, termux, osx, freebsd, openbsd, cygwin (determined automatically)

# NOTE: everything is case-sensitive (try to keep everything in lower case to avoid confusion)

[settings]
# Path to directory containing your dotfiles
#
# Default:  current directory
# Value:    'path/to/dotfiles_dir'
# Flags:    -d, --dotfiles_dir
dotfiles_dir=~/dotfiles

# Verbose output
#
# Default:  false
# Values:   true, false
# Flags:    -v, --verbose
verbose=false

# Supress regular ouput (Total stats at the end)
#
# Default:  false
# Values:   true, false
# Flags:    -q, --quiet
quiet=false

# Disable 'root' sections from config
#
# Default:  false
# Values:   true, false
# Flags:    -r, --root-enable
root-disable=false

# Only use 'root' sections from config
#
# Default:  false
# Values:   true, false
# Flags:    -R, --root-only
root-only=false

# Simulation mode: no filesystem modification
#
# Default:  false
# Values:   true, false
# Flags:    -n, --no, --simulate
simulate=false

# Inherit missing settings/apps from parent sections
#
# Default:  true
# Values:   true, false
inherit=true



# Default home section: automatically used with any installation
[home]
# Values:   true/add, false/remove, ignore
dircolors=true
git=true
zsh=true

# Linux section: automatically used when linux is detected
[linux-home]
gtk=true
# Linux root section: automatically used when linux is detected
[linux-root]
env_root=true
tty=true

# Termux section: automatically used when termux is detected
[termux-home]
termux=true
